version: "3.9"

services:
  bdd:
    build: ./bdd
    container_name: yopago-bdd
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  keycloak:
    build: ./keycloak/local
    container_name: yopago-keycloak
    depends_on:
      - bdd
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://bdd:5432/keycloak?sslmode=disable
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HTTP_PORT: "8080"
      KC_HEALTH_ENABLED: "true"
      KC_METRICS_ENABLED: "true"
      KC_PROXY: edge
      KC_HTTP_ENABLED: "true"
      KC_HTTP_RELATIVE_PATH: "/"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HOSTNAME_URL: http://10.0.2.2:8082
      KC_HOSTNAME_ADMIN_URL: http://10.0.2.2:8082
      YOPAGO_BACKEND_URL: http://yopago-backend:8080
    ports:
      - "8082:8080"

  backend:
    build: ./yopago
    container_name: yopago-backend
    depends_on:
      - bdd
      - keycloak
      - vision-ia
    environment:
      SPRING_PROFILES_ACTIVE: default
      DB_URL: jdbc:postgresql://bdd:5432/yopago?sslmode=disable
      DB_USER: postgres
      DB_PASS: ${POSTGRES_PASSWORD}
      DB_DRIVER: org.postgresql.Driver
      HIBERNATE_DDL: update
      SHOW_SQL: "true"
      HIBERNATE_DIALECT: org.hibernate.dialect.PostgreSQLDialect
      APP_NAME: yopago
      VISION_IA_SERVICE_BASE_URL: http://vision-ia:8001
      KEYCLOAK_BASE_URL: "http://10.0.2.2:8082"
      KEYCLOAK_INTERNAL_URL: "http://keycloak:8080"
      KEYCLOAK_AUTH_SERVER_URL: "http://keycloak:8080"
      KEYCLOAK_CREDENTIALS_SECRET: ${KEYCLOAK_CLIENT_SECRET}
      KEYCLOAK_ADMIN_REALM: master
      KEYCLOAK_ADMIN_USERNAME: admin
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      APP_FRONTEND_BASE_URL: "http://localhost"
    ports:
      - "8080:8080"

  vision-ia:
    build: ./vision-ia
    container_name: yopago-vision-ia
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    ports:
      - "8001:8001"

  frontend:
    build: 
      context: ./yopago-front
      args:
        EXPO_PUBLIC_BASE_URL: ${EXPO_PUBLIC_BASE_URL:-http://localhost:8080/api}
        EXPO_PUBLIC_ISSUER: ${EXPO_PUBLIC_ISSUER:-http://localhost:8082/realms/yopago}
    container_name: yopago-frontend
    depends_on:
      - backend
      - keycloak
    environment:
      EXPO_PUBLIC_BASE_URL: ${EXPO_PUBLIC_BASE_URL:-http://localhost:8080/api}
      EXPO_PUBLIC_ISSUER: ${EXPO_PUBLIC_ISSUER:-http://localhost:8082/realms/yopago}
    ports:
      - "80:80"

volumes:
  postgres_data:
